// Import Bulma's core
@import "~bulma/sass/utilities/_all";


// Set your colors
$primary: #8c67ef;
$primary-invert: findColorInvert($primary);
$twitter: #4099FF;
$twitter-invert: findColorInvert($twitter);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert)
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

body, button, input, select, textarea {
    font-family: 'Karla', Helvetica, Arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}

// #nav {
//     padding: 30px;
//     a {
//         font-weight: bold;
//         color: #2c3e50;
//         &.router-link-exact-active {
//         color: #42b983;
//         }
//     }
// }

.input, .taginput .taginput-container.is-focusable, .textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.b-radio.radio input[type=radio] + .check {
    border: 1px solid #7a7a7a;
}